@import url("style/carossel.css");
@import url("style/rodapé.css");

:root {
    --cor-de-fundo:#ffca2b;
    --branco: #FFFFFF;
    --laranja: #eb9b00;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}